.fs-code {
    background:fade(#fff, 50%);
    border-radius:5px;
    max-width:100%;
    overflow:auto;
    padding:5px 20px;
    tab-size:4;
    code {
        background:none;
        display:block;
        overflow:visible;
        padding:0;
    }
    .fs-highlight {
        background:fade(#eea, 80%);
    }
}
