@import (inline) "jquery.floatingscroll.css";

html {
    background:#9dc7ed; // IE9 fallback
    background:linear-gradient(to bottom, #a3dbff, #caedfb 20%, #9dc7ed 43%, #274a80) fixed;
    color:#008;
    font:100%/1.25 Georgia,"Times New Roman",serif;
}
body {
    margin:1em auto;
    max-width:960px;
}

a {
    color:#1e70ff;
    &:hover {
        color:darken(#1e70ff, 10%);
    }
}

table {
    border-collapse:collapse;
}
th, td {
    border:1px solid;
    padding:0.2em 0.5em;
    vertical-align:top;
}

.hidden {
    display:none;
}

.fs-code {
    background:fade(#fff, 50%);
    border-radius:5px;
    max-width:100%;
    overflow:auto;
    padding:5px 20px;
    code {
        background:none;
        display:block;
        overflow:visible;
        padding:0;
    }
    .fs-highlight {
        background:fade(#eea, 80%);
    }
}


header {
    text-align:center;
    h1 {
        margin-bottom:0;
        &:after,
        &:before {
            color:fade(#fff, 65%);
            cursor:default;
        }
        &:after {
            content:"\a0\25b8";
        }
        &:before {
            content:"\25c2\a0";
        }
    }
    p {
        margin:0.5em auto auto;
        max-width:260px;
        font-size:0.85em;
    }
}

main {
    background:fade(#fff, 30%);
    border-radius:10px;
    box-shadow:0 0 13px 20px fade(#fff, 30%);
    display:block; // IE
    margin:60px 30px 30px;
    padding:10px 20px;
}

.fs-whatwg-cols {
    margin-bottom:1em;
    fieldset {
        border:none;
        display:inline-block;
        margin:0;
        padding:0;
        vertical-align:top;
        width:49.5%;
    }
    label {
        display:block;
    }
}
.fs-whatwg {
    max-width:100%;
    overflow:auto;
    th, td {
        text-align:center;
    }
    tbody th:first-child,
    tbody td:first-child {
        text-align:left;
    }
}

.fs-popup {
    background:#fff;
    box-shadow:0 0 0 100vw fade(#000, 75%);
    height:550px;
    left:50%;
    margin-left:-700px / 2;
    padding:10px;
    position:fixed;
    text-align:center;
    top:20px;
    width:700px;
    z-index:1;

    &.fs-popup-hidden {
        box-shadow:none;
        left:-99999px;
        top:-99999px;
    }

    &-close {
        color:#c00;
        cursor:pointer;
        font-size:13px;
        left:10px;
        position:absolute;
        top:10px;
    }

    h4 {
        font-size:1.5em;
        margin:0.5em 0;
    }

    .fl-scrolls-body {
        height:550px;
        width:100%;
    }

    .fl-scrolls:not(.fl-scrolls-hidden) {
        bottom:10px; // same value as the bottom padding
        left:10px; // same value as the left padding
    }
}

.fs-maze {
    font-size:0;
    line-height:0;
    overflow:auto;
    width:100%;

    img {
        vertical-align:top;
    }
}

#fs-open-popup {
    color:#1e70ff;
    cursor:pointer;
    &:hover {
        color:darken(#1e70ff, 10%);
    }
}

.fs-listing-collapsed {
    max-height:400px;
}

footer {
    color:darken(#fff, 30%);
    font-size:0.85em;
    text-align:right;
    padding:1em 30px 0 0;
}


@media (max-width:719px), (max-height:569px) {
    .fs-popup {
        box-shadow:none;
        box-sizing:border-box;
        height:100%;
        left:0;
        margin:0;
        top:0;
        width:100%;
    }

    .fl-scrolls-body {
        max-height:100%;
    }
}

@media (max-width:499px) {
    main {
        box-shadow:0 0 4px 5px fade(#fff, 30%);
        border-radius:5px;
        margin:60px 10px 10px;
        padding:5px 10px;
    }

    .fs-whatwg-cols {
        fieldset {
            display:block;
            width:auto;
        }
    }
}